.main {
	flex: 1;
	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 20px;
		a {
			color: #2c3e50;
			font-weight: bold;
			&.router-link-exact-active {
				color: #42b983;
			}
		}
		&-item {
			margin-right: 0.5rem;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&-logo {
			display: flex;
			align-items: center;
			&-image {
				width: 200px;
				max-width: 100%;
			}
		}
	}
}